.navigationButtons {
	width: 80%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
	margin: auto;
	padding-top: 30px;
}

.navigationButtons a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}

.navigationButtons a:hover {
	color: white;
	background-color: black;
}

.navigationActive a {
	color: white;
	background-color: black;
}

.navigationDisabled a {
	color: grey;
	background-color: grey;
}
